<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="utf-8">
  <title>Hirata's Homepage </title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <!-- headeer -->
  <header>
    <div class="header-list">
      <div class="header-icon">
        <!-- <a href="index.html"><img src="./pic/me.png"></a> -->
        <a href="/"><img src="/pic/me.png"></a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="https://github.com/fieldflat?tab=repositories" target="_blank">Github</a></li>
        <li><a href="https://twitter.com/field_flat" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com/field_flat7/?hl=ja" target="_blank">Instagram</a></li>
        <li><a href="http://tomonori4565.hatenablog.com/" target="_blank">Blog</a></li>
      </ul>
    </div>
  </header>
  <!-- header end -->


  <!-- middle-wrapper -->
  <div class="middle-wrapper">
    <h2>About me...</h2>

    <div class="introduction">
      <p><span>Name</span> : namdicul </p>
      <p><span>From</span> : Aichi, Japan</p>
      <p><span>School</span> : Nagoya University</p>
      <p><span>Department</span> : Infomation Engineering</p>
      <p><span>Grade</span> : Bachelor 4th</p>
      <p><span>Message</span> : </p>
      <p>Thanks for visiting my homepage! I am an in-flight engineer.
      My dream is to become an excellent security engineer.
      I'm interested in "Capture The Flag(CTF)", and I study
      it hard every day.
      By the way, I am preparing various tricks on this homepage.
      Please get a secret command and reveal my secret.
      </p>
    </div>

  </div>
  <!-- middle-wrapper end -->


  <!-- footer -->
  <footer>
    <p>Copyright by Hirata(namdicul) </p>
  </footer>
  <!-- footer end -->

<script src="js/main.js"></script>
</body>

</html>
