# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: f418e5d99eaee39b2dbaa87aed52ddfe1f01b19c3aa3ca3c3d68b0cb8dd2460b4ce0b909a1d71888960f9bccddb63a2fb5d0645e64a123934f12552e1bbcc03c

test:
  secret_key_base: d4bc99dfb13353be0be9ae93724ddd0731a4019e885a6ffb9c6b3c4c2cbfdba570dfb295dd20050cc69fdddf38a370439ed85980116ed6e13028ad2457960772

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
